<nz-layout class="main-page-layout">
    <nz-header class="main-page-header">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a href="#/home">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          投票用户列表
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <nz-content class="main-page-content">
      <div class="tableListSearch">
        <nz-table #nzTable nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="tableData" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
          [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="param.pageNum=$event;reload($event)"
          (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;reload($event)">
          <thead nz-thead>
            <tr>
              <th nz-th>
                <span>用户</span>
              </th>
              <th nz-th>
                <span>手机号</span>
              </th>
              <th nz-th>
                <span>IP</span>
              </th>
              <th nz-th>
                <span>投票时间</span>
              </th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td nzCheckbox>
                <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
              </td>
              <td nz-td>
                <span>{{data.serial_num}}</span>
              </td>
              <td nz-td>
                <span>{{data.contestant_name}}</span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-content>
  </nz-layout>
  
  