<nz-layout class="main-page-layout">
    <nz-header class="main-page-header">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a href="#/home">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          大数据统计
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          播放统计
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <nz-content class="main-page-content">
            <!--表单-->
            <form nz-form>
              <!--行-->
              <div nz-row nz-form-item style="margin-top:15px;">
                  <div nz-col [nzSpan]="6">
                      <div nz-form-label nz-col style="float:left;">
                          <label>音视频名称</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="14">
                          <nz-input [nzType]="'text'" name="searchText" [(ngModel)]="param.searchText" [nzPlaceHolder]="'请输入音视频名称'" [nzSize]="'default'"></nz-input>
                      </div>
                  </div>
                  <div nz-col [nzSpan]="6">
                      <div nz-form-label nz-col style="float:left;">
                          <label>音视频类型</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="14">
                          <nz-select nzAllowClear [nzFilter]="false" [nzPlaceHolder]="'请选择资源类型'"  [(ngModel)]="param.type" name="res_type">
                            <nz-option *ngFor="let option of resTypeList" [nzLabel]="option.type_name" [nzValue]="option.type"></nz-option>
                          </nz-select>
                        <!-- <nz-cascader style="width:100%" name="project_cat_id" nzChangeOnSelect [nzPlaceHolder]="'请选择'" [nzValueProperty]="'cat_id'" [nzLabelProperty]="'cat_name'" [nzOptions]="classData"
                            [(ngModel)]="param.cat_ids" >
                        </nz-cascader> -->
                      </div>
                  </div>
                  <div nz-col [nzSpan]="6" style="padding:2px 0;">
                      <div class="row-questions" style="float:left;">
                          <button nz-button nzType="primary" (click)="reload(true)">
                              <i class="anticon anticon-search"></i>
                              <span>查询</span>
                          </button>
                          <button nz-button nzType="" (click)="resetForm()">
                              <span>重置</span>
                          </button>
                      </div> 
                  </div>
                <!-- <div class="row-actions">
                  <span>热词搜索排行</span>
                </div>-->
                <div class="row-questions">
                    <button nz-button nzType="primary" (click)="daochu()" >
                      <span>导出</span>
                    </button>
                </div> 
              </div>
            </form>
            <nz-table #nzTable nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="data" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
              [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="param.pageNum=$event;load($event)"
              (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;load($event)">
              <thead nz-thead>
                <tr>
                  <th nz-th nzCheckbox>
                    <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                    </label>
                  </th>
                  <th nz-th>
                    <span>音视频封面</span>
                  </th>
                  <th nz-th>
                    <span>音视频名称</span>
                  </th>
                  <th nz-th>
                    <span>音视频类型</span>
                  </th>
                  <th nz-th>
                    <span>浏览量</span>
                  </th>
                  <th nz-th>
                    <span>播放排行</span>
                  </th>
                </tr>
              </thead>
              <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data;index as i">
                  <td nz-td nzCheckbox>
                    <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
                  </td>
                  <td nz-td><span>
                    <img src="{{service.ctxPath + data.cover_small}}" alt="" style="width:72px;height:96px;">
                  </span></td>
                  <td nz-td>{{data.name}}</td>
                  <td nz-td>{{['音频','视频'][data.type-2]}}</td>
                  <td nz-td>{{data.reda_count}}</td>
                  <td nz-td>
                    <span>{{i+1}}</span>
                </td>
                </tr>
              </tbody>
            </nz-table>
      
    </nz-content>
  </nz-layout>