<nz-layout class="main-page-layout">
    <nz-header class="main-page-header">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a href="#/home">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          图书管理
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <nz-content class="main-page-content">
        <nz-tabset (nzSelectedIndexChange)="change($event)" [(nzSelectedIndex)]="selectedIndex">
            <nz-tab *ngFor="let tab of tabs">
                <ng-template #nzTabHeading>
                {{tab.content}}
                </ng-template>
            </nz-tab>
            <nz-tab  *ngIf="bookList">
                <ng-template #nzTabHeading>
                    {{nowTitle}}<i class="anticon anticon-cross" (click)="closeTab()" style="margin-left:5px;"></i>
                </ng-template>
                <nz-content class="main-page-content">
                    <form nz-form [formGroup]="myForm" class="ditForm" style="width:600px;">
                        <nz-tabset [(nzSelectedIndex)]="goToindex">
                            <nz-tab>
                                <ng-template #nzTabHeading>详细信息</ng-template>
                                <div nz-row nz-form-item style="margin-bottom:0px;">
                                    <div nz-col [nzSpan]="12">
                                        <div nz-form-item nz-row style="margin-bottom:10px;">
                                            <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                                <label nz-form-item-required>图书名称</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="16">
                                                <nz-input [nzType]="'text'" formControlName="book_name" [(ngModel)]="bookData.book_name" [nzPlaceHolder]="'请输入'" [nzSize]="'default'"></nz-input>
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row style="margin-bottom:10px;">
                                            <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                                <label nz-form-item-required>图书分类</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="16">
                                                <nz-cascader style="width:100%" formControlName="book_cat_id" nzChangeOnSelect [nzPlaceHolder]="'请选择'" [nzValueProperty]="'cat_id'" [nzLabelProperty]="'cat_name'" [nzOptions]="bookClass"
                                                    [(ngModel)]="cat_data" (nzSelectionChange)="now_change($event)">
                                                </nz-cascader>
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row style="margin-bottom:10px;">
                                            <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                                <label nz-form-item-required>图书标签</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="16">
                                                <nz-select style="width:100%;" formControlName="tag_ids" (nzSearchChange)="get_tagList($event)" [nzMode]="'multiple'" nzAllowClear [nzPlaceHolder]="'请选择'" [(ngModel)]="bookData.tag_ids" nzShowSearch>
                                                    <nz-option *ngFor="let item of bookTag" [nzLabel]="item.tag_name" [nzValue]="item.tag_id"></nz-option>
                                                </nz-select>
                                            </div>
                                        </div>
                                        <div nz-form-item nz-row style="margin-bottom:10px;">
                                            <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                                <label>关键字</label>
                                            </div>
                                            <div nz-form-control nz-col [nzSpan]="16">
                                                <nz-input [nzType]="'text'" formControlName="key_word" [(ngModel)]="bookData.key_word" [nzPlaceHolder]="'请输入'" [nzSize]="'default'"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="12" style="text-align:center;">
                                        <div style="border:1px #ddd dashed;height:120px;width:90px;margin: 0 auto 10px;background: #f5f8fa;">
                                            <img *ngIf="bookData.book_cover" src="{{ service.ctxPath + bookData.book_cover }}" style="float:left;height:120px;width:90px;"/>
                                        </div>
                                        <nz-upload [nzShowUploadList]="false" (nzChange)="fileUpload($event)" [nzAccept]="'image/gif,image/jpeg,image/png,image/jpg,image/bmp'"
                                            nzAction="{{service.ctxPath + '/api/system/file/upload'}}" [nzData]="{type:'admin',token:service.token}">
                                            <button nz-button type="button">
                                                <i class="anticon anticon-upload"></i>
                                                <span>上传封面</span>
                                            </button>
                                        </nz-upload>
                                    </div>
                                </div>
                                <div nz-row nz-form-item>
                                    <div nz-col [nzSpan]="12">
                                        <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                            <label nz-form-item-required>标准书号</label>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="16">
                                            <nz-input [nzType]="'text'" formControlName="book_isbn" [(ngModel)]="bookData.book_isbn" [nzPlaceHolder]="'请输入'" [nzSize]="'default'"></nz-input>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                            <label nz-form-item-required>出版社</label>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="16">
                                            <nz-input [nzType]="'text'" formControlName="publisher" [nzDisabled]="true" [(ngModel)]="bookData.publisher"  [nzSize]="'default'"></nz-input>
                                        </div>
                                    </div>
                                </div>
                                <div nz-row nz-form-item>
                                    <div nz-col [nzSpan]="12">
                                        <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                            <label nz-form-item-required>作/译者</label>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="16">
                                            <nz-input [nzType]="'text'" formControlName="author_name" [(ngModel)]="bookData.author_name" [nzPlaceHolder]="'请输入'" [nzSize]="'default'"></nz-input>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <div nz-form-label nz-col style="float:left;" [nzSpan]="8">
                                            <label nz-form-item-required>出版时间</label>
                                        </div>
                                        <div nz-form-control nz-col [nzSpan]="16">
                                            <!-- <nz-input [nzType]="'text'" formControlName="publish_date" [(ngModel)]="bookData.publish_date" [nzPlaceHolder]="'请输入出版时间'"  [nzSize]="'default'"></nz-input> -->
                                            <nz-datepicker formControlName="publish_date" [(ngModel)]="publish_date" nzShowTime [nzPlaceHolder]="'请选择'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" style="width:100%;"></nz-datepicker>
                                        </div>
                                    </div>
                                </div>
                                
                                <div nz-row nz-form-item>
                                    <div nz-form-label >
                                        <label nz-form-item-required>简介</label>
                                    </div>
                                    <div nz-form-control >
                                        <nz-input [nzType]="'textarea'" [nzRows]="3" formControlName="book_remark" [(ngModel)]="bookData.book_remark" [nzPlaceHolder]="'请输入'" [nzSize]="'default'"></nz-input>
                                    </div>
                                </div>
                                <button  nz-button [nzType]="'primary'" (click)="bookOk($event)"><span>保存</span></button>
                                <!-- <button *ngIf="this.param.book_type!=2" nz-button [nzType]="'primary'" (click)="bookOk($event)"><span>保存</span></button> -->
                            </nz-tab>
                            <nz-tab *ngIf="bookData.book_type==2" [nzDisabled]="true">
                                <ng-template #nzTabHeading>资源列表</ng-template>
                                <div nz-row nz-form-item style="margin-bottom:0;">
                                    <div nz-row nz-form-item style="float:right;">
                                        <div class="row-actions">
                                            <button nz-button nzType="primary" type="button" (click)="_getRecouse()">
                                            <i class="anticon anticon-plus" style="font-size:12px;color:#fff;"></i>
                                            <span>选择资源</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <nz-table #nzTable [nzAjaxData]="ebookResource" [nzPageSize]="ebookResource.length" [nzIsPagination]="false">
                                    <thead nz-thead>
                                        <tr>
                                        <th nz-th><span>资源名称</span></th>
                                        <th nz-th><span>格式</span></th>
                                        <th nz-th><span>类型</span></th>
                                        <th nz-th><span>资源大小</span></th>
                                        <th nz-th><span>操作</span></th>
                                        </tr>
                                    </thead>
                                    <tbody nz-tbody>
                                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                                        <td nz-td>
                                            <span>{{data.res_name}}</span>
                                        </td>
                                        <td nz-td>
                                            <span>{{data.res_format}}</span>
                                        </td>
                                        <td nz-td>
                                            <span>{{data.res_type}}</span>
                                        </td>
                                        <td nz-td>
                                            <span *ngIf="data.res_type=='图书'">{{data.res_size}}页</span>
                                        </td>
                                        <td nz-td>
                                            <span >
                                                <nz-popconfirm [nzTitle]="'确定取消吗?'" (nzOnConfirm)="delTo(data)">
                                                    <a nz-popconfirm>移除</a>
                                                </nz-popconfirm>
                                            </span>
                                        </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                                <button nz-button [nzType]="'primary'" (click)="submit($event)"><span>保存</span></button>
                            </nz-tab>
                        </nz-tabset>
                    </form>
                </nz-content>
            </nz-tab>
        </nz-tabset>
        <form nz-form style="margin-bottom:15px;" *ngIf="selectedIndex!=2">
            <div nz-row nz-form-item style="margin-bottom:0;">
                <div nz-col [nzSpan]="6">
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label>图书名称</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="16">
                        <nz-input [nzType]="'text'" name="searchText" [(ngModel)]="param.searchText" [nzPlaceHolder]="'请输入查询条件'" [nzSize]="'default'"></nz-input>
                    </div>
                </div>
                <div nz-col [nzSpan]="6">
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label>发布状态</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="16">
                        <nz-select  name="order_status" nzAllowClear [nzPlaceHolder]="'请选择'" [(ngModel)]="param.status" nzShowSearch>
                        <nz-option *ngFor="let item of pullList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                    </div>
                </div>
                <div nz-col [nzSpan]="6" style="padding:2px 0;">
                    <div class="row-questions" style="float:left;">
                        <button nz-button nzType="primary" (click)="reload(true)">
                            <i class="anticon anticon-search"></i>
                            <span>查询</span>
                        </button>
                        <button nz-button nzType="" (click)="resetForm()">
                            <span>重置</span>
                        </button>
                    </div>
                  <a style="margin-left:15px;font-size:12px;float:left;margin-top:5px;" (click)="isCollapse=!isCollapse">
                    更多
                    <i class="anticon" [class.anticon-down]="isCollapse" [class.anticon-up]="!isCollapse"></i>
                  </a>
                </div>
            </div>
            <div nz-row nz-form-item *ngIf="!isCollapse" style="margin-bottom:0;margin-top:10px;">
                <div nz-col [nzSpan]="6" >
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label>标签</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="16">
                        <nz-select style="width:100%;" name="order_status" [nzFilter]="false" (nzSearchChange)="get_tagList($event)" nzAllowClear [nzPlaceHolder]="'请选择'" [(ngModel)]="param.tag_id" nzShowSearch>
                            <nz-option *ngFor="let item of bookTag" [nzLabel]="item.tag_name" [nzValue]="item.tag_id"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col [nzSpan]="6" >
                    <div nz-form-label nz-col [nzSpan]="6">
                        <label>分类</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="16">
                        <nz-cascader style="width:100%" name="cat_id" nzChangeOnSelect [nzPlaceHolder]="'请选择'" [nzValueProperty]="'cat_id'" [nzLabelProperty]="'cat_name'" [nzOptions]="bookClass"
                            [(ngModel)]="param.cat_ids" (nzSelectionChange)="search_change($event)">
                        </nz-cascader>
                    </div>
                </div>
            </div>
            <div nz-form-item style="float:right;margin-bottom:0;">
                <div class="row-actions">
                    <button nz-button nzType="primary" type="button" (click)="_add()" *ngIf="this.service.validataAction('cw_info_book_add')">
                    <i class="anticon anticon-plus" style="font-size:12px;color:#fff;"></i>
                    <span>新增</span>
                    </button>
                    <nz-popconfirm [nzTitle]="'删除后数据无法找回,确认删除吗？'" (nzOnConfirm)="delRows()" [nzPlacement]="'bottom'" *ngIf="this.service.validataAction('cw_info_book_del')">
                        <button nz-popconfirm nz-button nzType="danger" type="button" *ngIf="this.service.validataAction('role_del')">
                            <i class="anticon anticon-delete"></i>
                            <span>删除</span>
                        </button>
                    </nz-popconfirm>
                </div>
            </div>
            <div style="clear:both;"></div>
        </form>
        <nz-table #nzTable *ngIf="selectedIndex!=2" nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="data" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
      [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="param.pageNum=$event;load($event)"
      (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;load($event)">
        <thead nz-thead>
        <tr>
          <th nz-th nzCheckbox>
            <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
            </label>
          </th>
          <th nz-th [nzWidth]="'20%'">
              <span>图书信息</span>
          </th>
          <th nz-th [nzWidth]="'10%'">
              <span>图书分类</span>
          </th>
          <th nz-th [nzWidth]="'10%'">
              <span>标签/关键字</span>
          </th>
          <th nz-th [nzWidth]="'10%'">
              <span>发布状态</span>
          </th>
          <th nz-th [nzWidth]="'10%'">
              <span>审核状态</span>
          </th>
          <th nz-th [nzWidth]="'10%'">
              <span>创建时间</span>
          </th>
          <th nz-th >
              <span>操作</span>
          </th>
        </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td nzCheckbox>
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
              </label>
            </td>
            <td nz-td nz-row>
                <div nz-col [nzSpan]="4" style="float:left;border:1px #ddd dashed;width:72px;height:96px;background: #f5f8fa;">
                    <img src="{{service.ctxPath + data.book_cover_small}}" alt="" style="float:left;width:100%;height:100%;">
                </div>
                <div nz-col [nzSpan]="14" style="padding:5px;">
                    <p><span style="color:#000;margin-right:5px;">图书名称:</span><span [innerHtml]="data.book_name"></span></p>
                    <p><span style="color:#000;margin-right:5px;">作/译者:</span><span [innerHtml]="data.author_name"></span></p>
                    <p><span style="color:#000;margin-right:5px;">出版社:</span><span [innerHtml]="data.publisher"></span></p>
                    <p><span style="color:#000;margin-right:5px;">标准书号:</span><span [innerHtml]="data.book_isbn"></span></p>
                </div>
            </td>
            <td nz-td>
                <span>{{data.book_cat_id}}</span>
            </td>
            <td nz-td>
                <p>{{data.tag_names}}</p>
                <p>{{data.key_word}}</p>
            </td>
            <td nz-td>
                <nz-switch [nzSize]="'small'" [ngModel]="data.status == 1" (click)="_enabled(data)" [nzDisabled]="!this.service.validataAction('cw_info_book_enabled')"></nz-switch>
            </td>
            <td nz-td>
                <span>{{['草稿','待审核','通过','驳回'][data.audit_status-1]}}</span>
            </td>
            <td nz-td>
                <span>{{data.create_time}}</span>
            </td>
            <td nz-td>
              <span >
                <a (click)="_see(data)">查看</a>
                <span nz-table-divider></span>
              </span>
              <nz-dropdown *ngIf="this.service.validataAction('resource_add')">
                <a class="ant-dropdown-link" nz-dropdown>审核
                    <i class="anticon anticon-down"></i>
                    <span nz-table-divider></span>
                </a>
                <ul nz-menu>
                    <li nz-menu-item *ngFor="let item of auilt">
                        <a (click)="_audit(data,item.id)">{{item.name}}</a>
                    </li>
                </ul>
            </nz-dropdown>
              <span >
                <a (click)="_edit(data)" *ngIf="this.service.validataAction('cw_info_book_edit')">修改</a>
                <span nz-table-divider></span>
                </span>
              <span >
                  <nz-popconfirm [nzTitle]="'确定取消吗?'" (nzOnConfirm)="del(data)" *ngIf="this.service.validataAction('cw_info_book_del')">
                    <a nz-popconfirm>删除</a>
                  </nz-popconfirm>
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-content>
  </nz-layout>
<nz-modal [nzMaskClosable]="false" [nzWidth]="800" [nzWrapClassName]="'vertical-center-modal'" [nzContent]="seeContent"
[nzVisible]="seeList" (nzOnCancel)="bookCancel($event)" [nzTitle]="'图书详情'" [nzFooter]="false">
<ng-template #seeContent>
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">图书名称:</span><span nz-col [nzSpan]="18">{{bookData.book_name}}</span></p>
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">图书分类:</span><span nz-col [nzSpan]="18">{{bookData.book_cat_name}}</span></p>
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">标签:</span><span nz-col [nzSpan]="18">{{bookData.tag_names}}</span></p>
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">关键字:</span><span nz-col [nzSpan]="18">{{bookData.key_word}}</span></p>
        </div>
        <div nz-col [nzSpan]="12" style="text-align:center;padding:15px 180px 15px 0;">
            <div style="float:left;border:1px #ddd dashed;height:120px;width:100%;margin-bottom:15px;background: #f5f8fa;">
                <img *ngIf="bookData.book_cover" src="{{ service.ctxPath + bookData.book_cover }}" style="float:left;width:72px;height:96px;"/>
            </div>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">标准书号:</span><span nz-col [nzSpan]="18">{{bookData.book_isbn}}</span></p>
        </div>
        <div nz-col [nzSpan]="12">
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">出版社:</span><span nz-col [nzSpan]="18">{{bookData.publisher}}</span></p>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">作/译者:</span><span nz-col [nzSpan]="18">{{bookData.author_name}}</span></p>
        </div>
        <div nz-col [nzSpan]="12">
            <p nz-row class="see_class"><span nz-col [nzSpan]="4">出版时间:</span><span nz-col [nzSpan]="18">{{bookData.publisher_date}}</span></p>
        </div>
    </div>
    <div nz-row>
        <p nz-row class="see_class"><span nz-col style="float:left;width:5%;">简介:</span><span nz-col [nzSpan]="18">{{bookData.book_remark}}</span></p>
    </div>
    <div>
        <p class="see_class" *ngIf="param.book_type==1" style="border-bottom:1px solid #e9e9e9;margin-bottom:10px;">二维码关联 <span (click)="daochu()" *ngIf="bookResource.length>0" style="float:right;cursor:pointer;color:#108ee9;">导出</span> </p>
        <div *ngIf="param.book_type==1">
            <nz-table #nzTable [nzAjaxData]="bookResource" [nzPageSize]="bookResource.length" [nzIsPagination]="false" *ngIf="bookResource.length>0">
                <thead nz-thead>
                    <tr>
                    <th nz-th><span>二维码</span></th>
                    <th nz-th><span>二维码名称</span></th>
                    <th nz-th><span>简介</span></th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td>
                            <div class="code-cover">
                                <img src="{{service.ctxPath + data.code_path}}">
                            </div>
                        </td>
                        <td>
                            <span>{{data.code_name}}</span>
                        </td>
                        <td>
                            <span>{{data.remark}}</span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <p class="see_class" *ngIf="param.book_type==2" style="border-bottom:1px solid #e9e9e9">电子书关联</p>
        <div *ngIf="param.book_type==2">
            <nz-table #nzTable [nzAjaxData]="ebookResource" [nzPageSize]="ebookResource.length" [nzIsPagination]="false" *ngIf="ebookResource.length>0">
                <thead nz-thead>
                    <tr>
                    <th nz-th><span>名称</span></th>
                    <th nz-th><span>大小</span></th>
                    <th nz-th><span>类型</span></th>
                    <th nz-th><span>操作</span></th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td>
                        <span>{{data.res_name}}</span>
                    </td>
                    <td nz-td>
                        <span>{{data.res_size}}页</span>
                    </td>
                    <td nz-td>
                        <span>{{data.res_type}}</span>
                    </td>
                    <td nz-td>
                        <span ><a (click)="bookSee(data)">预览</a></span>
                    </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</ng-template>
</nz-modal>
<nz-modal [nzMaskClosable]="false" [nzWidth]="800" [nzWrapClassName]="'vertical-center-modal'" [nzContent]="AllResourceContent"
[nzVisible]="AllResourceList" (nzOnCancel)="AllResourceCancel($event)" [nzTitle]="'资源列表'" [nzFooter]="false">
    <ng-template #AllResourceContent>
        <nz-table #nzTable nzShowSizeChanger [nzShowTotal]="true"
        [nzAjaxData]="ebookAllResource"
        [nzLoading]="_loading"
        [nzPageSize]="AllResource_param.pageSize"
        [nzPageIndex]="AllResource_param.pageNum"
        [nzTotal]="AllResource_param.total"
        (nzPageIndexChangeClick)="AllResource_param.pageNum=$event;_reload()"
        (nzPageSizeChange)="AllResource_param.AllResource_param=1;param.pageSize=$event;_reload()">
           <thead nz-thead>
            <tr>
              <th nz-th nzCheckbox>
                <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)"></label>
              </th>
              <th nz-th [nzWidth]="'20%'">
                <span>资源名称</span>
              </th>
              <th nz-th [nzWidth]="'20%'">
                <span>资源分类</span>
              </th>
              <th nz-th [nzWidth]="'15%'">
                <span>资源标签</span>
              </th>
              <th nz-th [nzWidth]="'15%'">
                <span>上传时间</span>
              </th>
              <th nz-th>
                <span>操作</span>
              </th>
            </tr>
           </thead>
           <tbody nz-tbody>
              <ng-container *ngFor="let data of nzTable.data">
                <tr nz-tbody-tr >
                  <td nz-td nzCheckbox>
                    <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
                  </td>
                  <td nz-td><span>{{data.res_name}}</span></td>
                  <td nz-td><span>{{data.res_cat_name}}</span></td>
                  <td nz-td><span>{{data.res_tag_names}}</span></td>
                  <td nz-td><span>{{data.create_time}}</span></td>
                    <td nz-td>
                        <span >
                            <a (click)="addTo(data)">添加</a>
                        </span>
                    </td>
                  </tr>
              </ng-container>

           </tbody>
         </nz-table>
    </ng-template>
</nz-modal>
<nz-modal [nzVisible]="isVisiblePdf" [nzWidth]="700" [nzTitle]="modalTitle2" [nzContent]="modalContent2" [nzFooter]="modalFooter2" (nzOnCancel)="_bookCancel($event)">
    <ng-template #modalTitle2>
        <span *ngIf="pdfModel">第 {{ pdfMinNum +'/' +pdfModel.res_size}}页</span>
    </ng-template>
    <ng-template #modalContent2>
        <div class="pwImgList" *ngIf="pdfModel">
            <i class="anticon anticon-left" (click)="pdfMinNum1()"></i>
            <div class="imgList">
            <img src="{{service.ctxPath+pdfModel.res_analysis_url+'/img'+pdfMinNum+'.png'}}">
            </div>
            <i class="anticon anticon-right" (click)="pdfMinNum2()"></i>
        </div>
    </ng-template>
    <ng-template #modalFooter2 style="display:none"></ng-template>
</nz-modal>