<nz-layout class="main-page-layout">
  <nz-header class="main-page-header">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a href="#/home">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        工具书管理
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        工具书分类
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-header>
  <nz-content class="main-page-content">
      <div class="tableListSearch">
        <div nz-row nz-form-item>
          <div class="row-actions">
            <button nz-button nzType="primary" *ngIf="this.service.validataAction('cw_tool_class_add')" (click)="_cwResTagAdd()">
              <i class="anticon anticon-plus"></i>
              <span>新建</span>
            </button>
            <!-- <nz-popconfirm [nzTitle]="'删除后数据无法找回,确认删除吗？'" (nzOnConfirm)="_delRows()" [nzPlacement]="'bottom'">
              <button nz-popconfirm nz-button nzType="danger" type="button" *ngIf="this.service.validataAction('cw_tool_class_del')">
                <i class="anticon anticon-delete"></i>
                <span>删除</span>
              </button>
            </nz-popconfirm> -->
          </div>
          <div class="row-questions">
            <nz-input [nzType]="'search'" [nzPlaceHolder]="'分类名称'" name="searchText" [(ngModel)]="param.searchText" style="width: 200px;"
              (nzOnSearch)="_reload(true)"></nz-input>
          </div>
        </div>
      </div>
      
      <nz-table #nzTable nzShowSizeChanger [nzShowTotal]="true"
       [nzAjaxData]="tableData" 
       [nzLoading]="_loading" 
       [nzPageSize]="param.pageSize"
       [nzPageIndex]="param.pageNum" 
       [nzTotal]="param.total" 
       (nzPageIndexChangeClick)="param.pageNum=$event;_reload()"
       (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;_reload()">
          <thead nz-thead>
            <tr>
              <th nz-th nzCheckbox>
                  <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)"></label>
              </th>
              <!-- <th nz-th [nzWidth]="'10%'">
                <span>编号</span>
              </th> -->
              <th nz-th >
                <span>分类名称</span>
              </th>
              <th nz-th >
                <span>创建时间</span>
              </th>
              <th nz-th >
                <span>修改时间</span>
              </th>
              <th nz-th>
                  <span>操作</span>
              </th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td nzCheckbox>
                  <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
              </td>
              <!-- <td nz-td>
                <span>{{data.tag_id}}</span>
              </td> -->
              <td nz-td>
                <span *ngIf="formBean.cat_id != data.cat_id">{{data.cat_name}}</span>
                <span *ngIf="formBean.cat_id == data.cat_id">
                    <nz-input [(ngModel)]="formBean.cat_name" [nzPlaceHolder]="'请输入分类名称'"></nz-input>
                </span>
              </td>
              <td nz-td>
                <span>{{data.create_time}}</span>
              </td>
              <td nz-td>
                <span>{{data.update_time}}</span>
              </td>
              <td>
                  <span *ngIf="formBean.cat_id != data.cat_id && this.service.validataAction('cw_tool_class_edit')">
                    <a (click)="_editRow(data)">修改</a>
                    <span nz-table-divider *ngIf="this.service.validataAction('cw_tool_class_del')"></span>
                  </span>
                  <span *ngIf="formBean.cat_id == data.cat_id">
                    <a (click)="save(data)">保存</a>
                    <span nz-table-divider></span>
                      <nz-popconfirm [nzTitle]="'确定取消?'" (nzOnConfirm)="cancel(data)">
                        <a nz-popconfirm>取消</a>
                      </nz-popconfirm>
                  </span>
                <ng-container *ngIf="formBean.cat_id != data.cat_id && this.service.validataAction('cw_tool_class_del')">
                  <nz-popconfirm [nzTitle]="'确定要删除这条信息吗？'" (nzOnConfirm)="_delete(data)" [nzPlacement]="'left'">
                    <a nz-popconfirm>删除</a>
                  </nz-popconfirm>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </nz-table>
    </nz-content>
  </nz-layout>