<nz-layout class="main-page-layout">
  <nz-header class="main-page-header">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a href="#/home">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        活动设置
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-header>
  <nz-content class="main-page-content">
    <form nz-form [nzType]="'Vertical'" [formGroup]="myForm">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="24" >
          <label nz-form-item-required>用户给一个选手总投票次数:</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
            <nz-input formControlName="user_contestant_count" [(ngModel)]="formBean.user_contestant_count" [nzPlaceHolder]="'请输入'"></nz-input>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" style="margin-left:50px">
            每个用户给一个选手总的投票次数
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col  [nzSpan]="24">
          <label nz-form-item-required>5分钟内超过投票数自动锁定:</label>
        </div>
        <div nz-form-control nz-col  [nzSpan]="8" nzHasFeedback>
            <nz-input formControlName="out_lock" [(ngModel)]="formBean.out_lock" [nzPlaceHolder]="'请输入'"></nz-input>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" style="margin-left:50px">
            设置选手5分钟内投票数超过多少，自动锁定投票选手。自动锁定后，不能自动解锁，需要后台手动解锁。
        <br>【编号投票，自动锁定功能，需要联系TOM客服，领取最新升级组件】
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="24">
          <label nz-form-item-required>用户每天可以投票数:</label>
        </div>
        <div nz-form-control nz-col  [nzSpan]="8" nzHasFeedback>
            <nz-input formControlName="user_vote_count" [(ngModel)]="formBean.user_vote_count" [nzPlaceHolder]="'请输入'"></nz-input>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" style="margin-left:50px">
            设置每一个用户每天可以多少个选手投票，给每个选手每天只能投一票
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="24">
          <label nz-form-item-required>每天选手限额投票数:</label>
        </div>
        <div nz-form-control nz-col  [nzSpan]="8" nzHasFeedback>
            <nz-input formControlName="contestant_count" [(ngModel)]="formBean.contestant_count" [nzPlaceHolder]="'请输入'"></nz-input>
        </div>
        <div nz-form-control nz-col [nzSpan]="14" style="margin-left:50px">
            设置每天每个选手允许增值的票数，如果票数达到增加限制，提示：该选手今天票数达到限额
          <br>【编号投票的需要，需要联系TOM客服领取6.0版编号投票组件】
        </div>
      </div>
    
      <div nz-form-item nz-row>
        <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="6" style="margin-top:30px">
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="_submitForm()" style="padding:0 30px">提交</button>
        </div>
      </div>
    </form>
  </nz-content>
</nz-layout>
