<nz-layout class="main-page-layout">
    <nz-header class="main-page-header">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a href="#/home">首页</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          邮件配置
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <nz-content class="main-page-content" style="padding-top: 20px;">
      <form nz-form>
        <div nz-row nz-form-item>
          <div class="row-actions">
            <button nz-button nzType="primary" (click)="add()" *ngIf="this.service.validataAction('emailconfig_add')">
                <i class="anticon anticon-plus"></i>
                <span>新增</span>
            </button>
            <nz-popconfirm [nzTitle]="'删除后数据无法找回,确认删除吗？'" (nzOnConfirm)="delRows()" [nzPlacement]="'bottom'" *ngIf="this.service.validataAction('emailconfig_del')">
              <button nz-popconfirm nz-button nzType="danger">
                <i class="anticon anticon-delete"></i>
                <span>一键删除</span>
              </button>
            </nz-popconfirm>
          </div>
        </div>
      </form>

      <nz-table #nzTable  nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="data" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
      [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="param.pageNum=$event;load($event)"
      (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;load($event)">
          <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox>
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th [nzWidth]="'15%'"><span>账号</span></th>
            <th nz-th [nzWidth]="'15%'"><span>密码</span></th>
            <th nz-th [nzWidth]="'15%'"><span>端口号</span></th>
            <th nz-th [nzWidth]="'15%'"><span>服务器地址</span></th>
            <th nz-th [nzWidth]="'10%'"><span>状态</span></th>
            <th nz-th [nzWidth]="'10%'"><span>更新时间</span></th>
            <th nz-th><span>操作</span></th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td nzCheckbox>
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
              </label>
            </td>
            <td nz-td>
                <span *ngIf="editRow!=data.mail_setting_id">{{data.account}}</span>
                <span *ngIf="editRow==data.mail_setting_id">
                  <nz-input [(ngModel)]="data.account" style="width:100%;"></nz-input>
                </span>
            </td>
            <td nz-td>
                <span *ngIf="editRow!=data.mail_setting_id">{{data.pwd}}</span>
                <span *ngIf="editRow==data.mail_setting_id">
                  <nz-input [(ngModel)]="data.pwd" style="width:100%;"></nz-input>
                </span>
            </td>
            <td nz-td>
                <span *ngIf="editRow!=data.mail_setting_id">{{data.port}}</span>
                <span *ngIf="editRow==data.mail_setting_id">
                  <nz-input [(ngModel)]="data.port" style="width:100%;"></nz-input>
                </span>
            </td>
            <td nz-td>
                <span *ngIf="editRow!=data.mail_setting_id">{{data.smtp_url}}</span>
                <span *ngIf="editRow==data.mail_setting_id">
                  <nz-input [(ngModel)]="data.smtp_url" style="width:100%;"></nz-input>
                </span>
            </td>
            <td nz-td>
              <span *ngIf="editRow!=data.mail_setting_id" [innerHtml]="['无效','有效'][data.status==1 ? 1 : 0]"></span>
              <span *ngIf="editRow==data.mail_setting_id">
                <div style="margin-top:8px;">
                  <nz-switch [ngModel]="data.status==1 ? 1 : 0" [nzSize]="'small'" (click)="_enabled(data)" [nzDisabled]="!this.service.validataAction('emailconfig_status')"></nz-switch>
                </div>
              </span>
            
            </td>
            <td nz-td>
                <span >{{data.update_time}}</span>
            </td>
            
            <td nz-td>
              <span *ngIf="editRow!=data.mail_setting_id && this.service.validataAction('emailconfig_update')">
                <a (click)="edit(data)">修改</a>
              </span>
              <span *ngIf="editRow==data.mail_setting_id">
                <a (click)="save(data)">保存</a>
                <span nz-table-divider></span>
                  <nz-popconfirm [nzTitle]="'确定取消吗?'" (nzOnConfirm)="cancel(data)">
                    <a nz-popconfirm>取消</a>
                  </nz-popconfirm>
              </span>
              <span *ngIf="editRow!=data.mail_setting_id && this.service.validataAction('emailconfig_del')">
                  <nz-popconfirm [nzTitle]="'确定取消吗?'" (nzOnConfirm)="del(data)">
                    <a nz-popconfirm>删除</a>
                  </nz-popconfirm>
              </span>
            </td>
          </tr>
          </tbody>
        </nz-table>
  
    </nz-content>
  </nz-layout>

