.re_class{
    padding:5px 0;
    /* font-size:14px; */
}
.re_class>span:nth-child(1){
    margin-right:5px;
}

.gutter-example{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.gutter-row{
    float: left;
    position: relative;
    width: 100px;
    height: 40px;
    margin-right: 30px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    text-align: center
}
.gutter-row:hover{
    border-color:#3bd4ae
}
.gutter-row > i{
    font-size: 40px;
    color: #3bd4ae;
    vertical-align: middle;
    margin-right: 10px
}
.gutter-row span{
    font-weight: 700;
}
.gutter-row .check{
    position: absolute;
    display: none;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 20px;
    background-color: #feab3c;
    border-radius: 50%;
    -webkit-box-shadow: -1px 0px 10px white;
    box-shadow: -1px 0px 10px white;
}
.gutter-row.active{
    background: #3bd4ae;
    color: #fff
}
.gutter-row.active > i{
    color: #fff
}
.gutter-row.active .check{
    display: block
}

.pwImgList{
    position: relative;
    width: 100%;
}
.pwImgList .anticon-left{
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 60px;
    color: #108ee9;
    cursor: pointer;
}
.pwImgList .anticon-right{
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 60px;
    color: #108ee9;
    cursor: pointer;
}
.pwImgList .imgList{
    display: block;
    width: 500px;
    margin:  0 auto;
}
.pwImgList .imgList img{
    width: 100%;
}
.show_class{
    padding: 5px 10px;
    font-size:14px;
    color:#000;
}
.show_class span:nth-child(1){
    margin-right:10px;
}
