<nz-layout class="main-page-layout">
    <nz-header class="main-page-header">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a href="#/home">首页</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                商品列表
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </nz-header>
    <nz-content class="main-page-content">
        <form nz-form>
            <div nz-row nz-form-item>
            <div nz-col [nzSpan]="8">
                <div nz-form-label nz-col style="float:left;">
                    <label>商品名称</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzType]="'text'" name="goods_type" [(ngModel)]="param.goods_type" [nzPlaceHolder]="'请输入商品名称'" [nzSize]="'default'"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div nz-form-label nz-col style="float:left;">
                    <label>商品分类</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <!-- <nz-select style="width:100%;"  name="project_cat_id" [(ngModel)]="param.project_cat_id" [nzPlaceHolder]="'请选择合作分类'" nzShowSearch>
                      <nz-option *ngFor="let item of listData" [nzLabel]="item.cat_name" [nzValue]="item.cat_id" ></nz-option>
                    </nz-select> -->
                  <nz-cascader style="width:100%" name="project_cat_id" nzChangeOnSelect [nzPlaceHolder]="'请选择'" [nzValueProperty]="'cat_id'" [nzLabelProperty]="'cat_name'" [nzOptions]="classData"
                      [(ngModel)]="param.cat_ids" >
                  </nz-cascader>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div nz-form-label nz-col style="float:left;">
                    <label>创建时间</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-rangepicker name="searchTime" [(ngModel)]="paramCol.searchTime" [nzPlaceholder]="['起始日期', '截止日期']"></nz-rangepicker>
                </div>
            </div>
          </div> 
          
          <div nz-row nz-form-item>
              <div class="row-actions">
                    <nz-dropdown>
                        <a class="ant-dropdown-link" nz-dropdown>
                            <button nz-button nzType="primary" *ngIf="this.service.validataAction('cw_goods_list_add')">
                                <i class="anticon anticon-plus"></i>
                                <span>新增</span>
                            </button>
                        </a>
                        <ul nz-menu>
                            <li nz-menu-item>
                            <a rel="noopener noreferrer" (click)="selRow.goods_type=1;add()" >纸质图书</a>
                            </li>
                            <li nz-menu-item>
                            <a rel="noopener noreferrer" (click)="selRow.goods_type=2;add()">音视频</a>
                            </li>
                            <li nz-menu-item>
                            <a rel="noopener noreferrer" (click)="selRow.goods_type=3;add()">电子书</a>
                            </li>
                        </ul>
                    </nz-dropdown>
                  
              </div>
              <div class="row-questions">
                  <button nz-button nzType="primary" (click)="reload(true)">
                      <i class="anticon anticon-search"></i>
                      <span>查询</span>
                  </button>
                  <button nz-button nzType="" (click)="resetForm()">
                      <span>重置</span>
                  </button>
              </div>
          </div>
        </form>
        <nz-table #nzTable  nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="data" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
        [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="param.pageNum=$event;load($event)"
        (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;load($event)">
          <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox>
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th [nzWidth]="'20%'">
                <span>商品信息</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>商品分类</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>商品标签</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>售价（元）</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>上架状态</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>品牌标签</span>
            </th>
            <th nz-th [nzWidth]="'20%'">
                <span>操作</span>
            </th>
          </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td nzCheckbox>
                <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                </label>
              </td>
              <td nz-td nz-row>
                  <!-- <span>{{data.project_name}}</span> -->
                  <div nz-col [nzSpan]="6" style="float:left;border:1px #ddd dashed;width:72px;height:96px;background: #f5f8fa;">
                      <img src="{{service.ctxPath + data.goods_cover_small}}" alt="" style="float:left;width:100%;height:100%;">
                  </div>
                  <div nz-col [nzSpan]="14" style="padding:10px;">
                      <p>商品名称:<span [innerHtml]="data.goods_name"></span></p>
                      <p>商品类型:<span [innerHtml]="['实体书','音视频','电子书'][data.goods_type-1]"></span></p>
                  </div>
              </td>
              <td nz-td>
                  <span>{{data.cat_name}}</span>
              </td>
              <td nz-td>
                  <span>{{data.tag_names}}</span>
              </td>
              <td nz-td>
                  <span>{{data.price}}</span>
              </td>
              <td nz-td>
                  <nz-switch [nzSize]="'small'" [ngModel]="data.enabled == 1" (click)="_enabled(data)" [nzDisabled]="!this.service.validataAction('cw_goods_list_put')"></nz-switch>
              </td>
              <td nz-td>
                  <span>{{get_tagName(data.goods_brand_id)}}</span>
              </td>
              <td nz-td>
                <span *ngIf="this.service.validataAction('cw_goods_list_edit')">
                  <a (click)="edit(data)">修改</a>
                  <span nz-table-divider></span>
                </span>
                <span >
                  <a (click)="show(data)">查看</a>
                  <span nz-table-divider></span>
                </span>
                <span *ngIf="this.service.validataAction('cw_goods_list_del')">
                    <nz-popconfirm [nzTitle]="'确定取消吗?'" (nzOnConfirm)="del(data)">
                      <a nz-popconfirm>删除</a>
                    </nz-popconfirm>
                </span>
              </td>
            </tr>
          </tbody>
      </nz-table>
    </nz-content>
  </nz-layout> 
  
  <nz-modal [nzMaskClosable]="false" [nzWidth]="800" [nzWrapClassName]="'vertical-center-modal'" [nzContent]="modalContent"
  [nzVisible]="isVisibleMiddle" (nzOnCancel)="handleCancelMiddle($event)" (nzOnOk)="handleOkMiddle($event)" [nzTitle]="formTitle">
    <ng-template #modalContent>
        <form nz-form [formGroup]="myForm" (ngSubmit)="_submitForm()" class="ditForm">
        <div nz-form-item nz-row style="margin-bottom:0;">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-form-label>
                        <label nz-form-item-required>商品名称</label>
                    </div>
                    <div nz-form-control>
                        <nz-input formControlName="goods_name"  [nzType]="'text'" [(ngModel)]="selRow.goods_name" [nzPlaceHolder]="'请填写商品名称'"></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-col [nzSpan]="12" style="padding-right:10px;">
                        <div nz-form-label>
                            <label nz-form-item-required>商品分类</label>
                        </div>
                        <div nz-form-control>
                            <!-- <nz-input formControlName="goods_cat_id"  [nzType]="'text'" [(ngModel)]="selRow.goods_name" [nzPlaceHolder]="'请填写图书名称'"></nz-input> -->
                            <nz-cascader style="width:100%" formControlName="goods_cat_id" nzChangeOnSelect [nzPlaceHolder]="'请选择'" [nzValueProperty]="'cat_id'" [nzLabelProperty]="'cat_name'" [nzOptions]="classData"
                                [(ngModel)]="cat_data" (nzSelectionChange)="now_change($event)">
                            </nz-cascader>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" style="padding-left:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label nz-form-item-required>品牌标签</label>
                            </div>
                            <div nz-form-control>
                                <nz-select style="width:100%;" formControlName="goods_brand_id" [nzPlaceHolder]="'请选择'" [(ngModel)]="selRow.goods_brand_id" [nzNotFoundContent]="'无法找到'" nzShowSearch>
                                    <nz-option *ngFor="let item of brandData" [nzLabel]="item.brand_name" [nzValue]="item.brand_id"></nz-option>
                                </nz-select>   
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-col [nzSpan]="12" style="padding-right:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label nz-form-item-required>标签</label>
                            </div>
                            <div nz-form-control>
                                <nz-select style="width:100%;" formControlName="goods_tag_ids" nzTags [nzPlaceHolder]="'请选择'" [(ngModel)]="selRow.goods_tag_ids" [nzNotFoundContent]="'无法找到'" nzShowSearch>
                                    <nz-option *ngFor="let item of tagData" [nzLabel]="item.tag_name" [nzValue]="item.tag_id"></nz-option>
                                </nz-select>   
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" style="padding-left:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label>关键字</label>
                            </div>
                            <div nz-form-control>
                                <nz-input formControlName="key_word"  [nzType]="'text'" [(ngModel)]="selRow.key_word" [nzPlaceHolder]="'请填写关键字'"></nz-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-col [nzSpan]="8" style="padding-right:10px;">
                        <nz-input formControlName="price"  [nzType]="'text'" (ngModelChange)="sum()" [(ngModel)]="selRow.price" [nzPlaceHolder]="'售价'">
                            <ng-template #addOnBefore>售价</ng-template>
                        </nz-input>
                    </div>
                    <div nz-col [nzSpan]="6" style="padding-left:10px;">
                        <nz-input formControlName="discount"  [nzType]="'text'" (ngModelChange)="sum()"  [(ngModel)]="selRow.discount" [nzPlaceHolder]="'折扣'">
                            <ng-template #addOnBefore>折扣</ng-template>
                        </nz-input>
                    </div>
                    <div nz-col [nzSpan]="10" style="padding-left:10px;">
                        <nz-input formControlName="real_price"  [nzType]="'text'" [(ngModel)]="selRow.real_price"  nzReadonly>
                            <ng-template #addOnBefore>折后售价<i>¥</i></ng-template>
                        </nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row class="notErrMsg" style="padding-left:10px;">
                    <div nz-form-label>
                        <label nz-form-item-required>选择文件</label>
                    </div>
                    <div nz-form-control>
                        <nz-select style="width:100%;" formControlName="res_id" [nzPlaceHolder]="'请选择文件'" [(ngModel)]="selRow.res_id" (ngModelChange)="selected(selRow.res_id)" [nzNotFoundContent]="'无法找到'" nzShowSearch *ngIf="selRow.goods_type!=2">
                            <nz-option *ngFor="let item of allRecourse" [nzLabel]="item.book_name" [nzValue]="item.book_id"></nz-option>
                        </nz-select> 
                        <nz-select style="width:100%;" formControlName="res_id" [nzPlaceHolder]="'请选择文件'" [(ngModel)]="selRow.res_id" (ngModelChange)="selected(selRow.res_id)" [nzNotFoundContent]="'无法找到'" nzShowSearch *ngIf="selRow.goods_type==2">
                            <nz-option  *ngFor="let item of allRecourse" [nzLabel]="item.video_name" [nzValue]="item.video_id"></nz-option>
                        </nz-select>   
                    </div>
                </div> 
                <div nz-form-item nz-row class="notErrMsg" style="padding-left:10px;">
                    <div nz-col [nzSpan]="8" style="padding:10px 0px;">
                        <div class="uimg" style="float:left;border:1px #ddd dashed;height:152px;width:114px;background: #f5f8fa;">
                            <img *ngIf="selRow.goods_type!=2" src="{{ service.ctxPath + nowRecourse.goods_cover }}" style="float:left;width:100%;height:100%;"/>
                            <img *ngIf="selRow.goods_type==2" src="{{ service.ctxPath + nowRecourse.video_cover }}" style="float:left;width:100%;height:100%;"/>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="16">
                        <p nz-row class="re_class">
                            <span >文件名称:</span>
                            <span *ngIf="selRow.goods_type!=2">{{nowRecourse.book_name}}</span>
                            <span *ngIf="selRow.goods_type==2">{{nowRecourse.video_name}}</span>
                        </p>
                        <p nz-row *ngIf="selRow.goods_type!=2" class="re_class">
                            <span >书号:</span>
                            <span >{{nowRecourse.book_isbn}}</span>
                        </p>
                        <p nz-row *ngIf="selRow.goods_type!=2" class="re_class">
                            <span >出版社:</span>
                            <span >{{nowRecourse.publisher}}</span>
                        </p>
                        <p nz-row *ngIf="selRow.goods_type!=2" class="re_class">
                            <span >作/译者:</span>
                            <span >{{nowRecourse.author_name}}</span>
                        </p>
                        <p nz-row *ngIf="selRow.goods_type==2" class="re_class">
                            <span >库存:</span>
                            <span >{{nowRecourse.inventory}}</span>
                        </p>
                        <p nz-row *ngIf="selRow.goods_type==2" class="re_class">
                            <span >限购量:</span>
                            <span >{{nowRecourse.limit_buy}}</span>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label>
                <label>简介</label>
            </div>
            <div nz-form-control>
                <nz-input formControlName="remark" [(ngModel)]="selRow.remark" [nzRows]="3" [nzType]="'textarea'" [nzPlaceHolder]="'请填写简介'" [nzSize]="'large'">
                </nz-input>
            </div>
        </div>
        <div *ngIf="ebookRecourse.length>0">
            <nz-table #nzTable [nzAjaxData]="ebookRecourse" [nzPageSize]="ebookRecourse.length" [nzIsPagination]="false" *ngIf="ebookRecourse.length>0">
                <thead nz-thead>
                    <tr>
                    <th nz-th><span>名称</span></th>
                    <th nz-th *ngIf="selRow.goods_type!=2"><span>大小</span></th>
                    <th nz-th *ngIf="selRow.goods_type!=2"><span>类型</span></th>
                    <th nz-th><span>操作</span></th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td>
                        <span>{{data.res_name}}</span>
                    </td>
                    <td nz-td *ngIf="selRow.goods_type!=2">
                        <span>{{data.res_size}}页</span>
                    </td>
                    <td nz-td *ngIf="selRow.goods_type!=2">
                        <span>{{data.res_type}}</span>
                    </td>
                    <td nz-td>
                        <span ><a (click)="bookSee(data)">预览</a></span>
                    </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <button style="display:none;">save</button>
        </form>
    </ng-template>
  </nz-modal>
  
<nz-modal [nzVisible]="isVisibleVideo" [nzTitle]="modalTitle1" [nzContent]="modalContent1" [nzFooter]="modalFooter1" (nzOnCancel)="_vedioCancel($event)">
    <ng-template #modalTitle1>
      视频预览
    </ng-template>
    <ng-template #modalContent1>
      <video *ngIf="videoModel" src="{{service.ctxPath+videoModel.res_url}}" style="width:100%" controls="controls" autoplay></video>
    </ng-template>
    <ng-template #modalFooter1 style="display:none"></ng-template>
  </nz-modal>
  <nz-modal [nzVisible]="isVisiblePdf" [nzWidth]="700" [nzTitle]="modalTitle2" [nzContent]="modalContent2" [nzFooter]="modalFooter2" (nzOnCancel)="_bookCancel($event)">
    <ng-template #modalTitle2>
        <span *ngIf="pdfModel">第 {{ pdfMinNum +'/' +pdfModel.res_size}}页</span>
    </ng-template>
    <ng-template #modalContent2>
        <div class="pwImgList" *ngIf="pdfModel">
            <i class="anticon anticon-left" (click)="pdfMinNum1()"></i>
            <div class="imgList">
            <img src="{{service.ctxPath+pdfModel.res_analysis_url+'/img'+pdfMinNum+'.png'}}">
            </div>
            <i class="anticon anticon-right" (click)="pdfMinNum2()"></i>
        </div>
    </ng-template>
    <ng-template #modalFooter2 style="display:none"></ng-template>
</nz-modal>
<nz-modal [nzVisible]="isShow" [nzWidth]="700" [nzTitle]="'商品详情'" [nzContent]="ShowContent" [nzFooter]="false" (nzOnCancel)="_ShowCancel($event)">
    <ng-template #ShowContent>
            <div nz-row class="notErrMsg" >
                <div class="show_class">
                    <span>商品名称:</span><span>{{showData.goods_name}}</span>
                </div>
                <div class="show_class" nz-row>
                    <p nz-col [nzSpan]="12">
                        <span>商品分类:</span><span>{{showData.goods_cat_id}}</span>
                    </p>
                    <p nz-col [nzSpan]="12">
                        <span>商品类型:</span><span>{{['实体书','音视频','电子书'][showData.goods_type-1]}}</span>
                    </p>
                </div>
                <div class="show_class">
                    <span>商品标签:</span><span>{{showData.tag_names}}</span>
                </div>
                <div class="show_class" nz-row>
                    <p nz-col [nzSpan]="12">
                        <span>品牌标签:</span><span>{{showData.tag_names}}</span>
                    </p>
                    <p nz-col [nzSpan]="12">
                        <span>审核状态:</span><span>{{['已审核','未审核'][showData.enabled-1]}}</span>
                    </p>
                </div>
                <div class="show_class">
                    <span>商品简介:</span><span>{{showData.remark}}</span>
                </div>
            </div>
            <hr *ngIf="nowRecourse.book_id"  />
            <div nz-form-item nz-row class="notErrMsg" style="padding-left:10px;" *ngIf="nowRecourse.book_id">
                <div nz-col style="padding:10px 0px;float:left;">
                    <div class="uimg" style="float:left;border:1px #ddd dashed;height:152px;width:114px;background: #f5f8fa;">
                        <img *ngIf="selRow.goods_type!=2" src="{{ service.ctxPath + nowRecourse.book_cover_small }}" style="float:left;width:100%;height:100%;"/>
                        <img *ngIf="selRow.goods_type==2" src="{{ service.ctxPath + nowRecourse.video_cover_small }}" style="float:left;width:100%;height:100%;"/>
                    </div>
                </div>
                <div nz-col [nzSpan]="16" style="padding:10px;">
                    <p nz-row class="re_class">
                        <span >图书名称:</span>
                        <span *ngIf="selRow.goods_type!=2">{{nowRecourse.book_name}}</span>
                        <span *ngIf="selRow.goods_type==2">{{nowRecourse.video_name}}</span>
                    </p>
                    <p nz-row *ngIf="selRow.goods_type!=2" class="re_class">
                        <span >书号:</span>
                        <span >{{nowRecourse.book_isbn}}</span>
                    </p>
                    <p nz-row *ngIf="selRow.goods_type!=2" class="re_class">
                        <span >出版社:</span>
                        <span >{{nowRecourse.publisher}}</span>
                    </p>
                    <p nz-row *ngIf="selRow.goods_type!=2" class="re_class">
                        <span >作/译者:</span>
                        <span >{{nowRecourse.author_name}}</span>
                    </p>
                    <p nz-row *ngIf="selRow.goods_type==2" class="re_class">
                        <span >库存:</span>
                        <span >{{nowRecourse.inventory}}</span>
                    </p>
                    <p nz-row *ngIf="selRow.goods_type==2" class="re_class">
                        <span >限购量:</span>
                        <span >{{nowRecourse.limit_buy}}</span>
                    </p>
                </div>
            </div>
    </ng-template>
    
    
</nz-modal>