<nz-layout class="main-page-layout">
  <nz-header class="main-page-header">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a href="#/home">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        大数据统计
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        销售统计
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-header>
  <nz-content class="main-page-content">
      <nz-tabset (nzSelectedIndexChange)="_change($event)">
          <nz-tab >
            <ng-template #nzTabHeading>
              商品
            </ng-template>
          </nz-tab>
          <nz-tab >
            <ng-template #nzTabHeading>
              作品
            </ng-template>
          </nz-tab>
      </nz-tabset>
      <!-- <div nz-row>
        <ng-template *ngIf="param.type==1">
          <span nz-col [nz-span]="'6'">销售统计</span>
        </ng-template>
          <div nz-col [nz-span]="'6'">
            <p>{{allData.the_days}}</p>
            <p>今日收益</p>
          </div>
          <div nz-col [nz-span]="'6'">
            <p>{{allData.yesterday}}</p>
            <p>昨日收益</p>
          </div>
          <div nz-col [nz-span]="'6'">
            <p>{{allData.allData}}</p>
            <p>30天收益</p>
          </div>
      </div> -->
      <form nz-form>
          <!--行-->
          <div nz-row nz-form-item style="margin-bottom:0;background: #fff;padding-bottom:10px;">
            <div nz-col [nzSpan]="6" class="left">
              <span style="font-size: 16px;">销售统计</span>
            </div>
            <div nz-col [nzSpan]="'6'" class="left">
              <div>
                <p>&#65509;{{allData.the_days}}</p>
                <p>今日收益</p>
              </div>
            </div>
            <div nz-col [nzSpan]="'6'" class="left">
              <div>
                <p>&#65509;{{allData.yesterday}}</p>
                <p>昨日收益</p>
              </div>
            </div>
            <div nz-col [nzSpan]="'6'" class="left">
              <div>
                <p>&#65509;{{allData.first_days}}</p>
                <p>30天收益</p>
              </div>
            </div>
          </div>
      </form>
      <div>
        <v-chart [forceFit]="forceFit" [height]="height" [data]="nowdata" [scale]="scale">
          <v-tooltip></v-tooltip>
          <v-axis></v-axis>
          <v-line position="data*money"></v-line>
          <v-point position="data*money" shape="circle"></v-point>
        </v-chart>
      </div>
  </nz-content>
</nz-layout>